<div id="footer-content">
    <p>상호 : 엔씨테크    &nbsp;|&nbsp;    주소 : 인천광역시 서구 가정로 16번길 19</p>
    <p>TEL : 032-511-7651 &nbsp;|&nbsp;    P.H : 010-9088-3648</p>
    <p>E-MAIL : nts31@hanmail.com</p>

</div>