<div><a href="/login"><img style="margin-left: 5px;" src="/img/nclogo.png"></a></div>
<ul id="menu">
    <li><a href="/">메인</a></li>
    <li><a href="/introduce">회사소개</a></li>
    <li><a href="/product?page=1">제품소개</a></li>
    <li><a href="/estimate?page=1">견적문의</a></li>
</ul>