<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>엔씨테크</title>
    <link rel="stylesheet" href="./css/stylecss.css">
    <link rel="stylesheet" href="./css/stylecss2.css">
    <style>
        #image-container {
            display: flex;
            flex-direction: column;
        }
        
        form{
            width:100%;
        }

        .image-label {
            position: relative;
            bottom: 22px;
            left: 5px;
            color: white;
            text-shadow: 2px 2px 2px black;
        }

        #nav-content2-form{
            display:flex;
            flex-direction: column;
            height:auto;
        }

        textarea{
            font-size: 17px;
            width:100%;
            height:480px;
            background-color: #FBFBFB;
            border:1px solid #cccdcf;
            border-radius: 5px;
            padding:10px;
        }
        input[type="text"]{
            width:100%;
            height: 38px;
            padding:0px 9px;
            background-color: #FBFBFB;
            border:1px solid #cccdcf;
            border-radius: 5px;
            color:#777;
            font-size: 15px;
        }
        input[type="password"]{
            height:38px;
            width:100%;
            background-color: #FBFBFB;
            border:1px solid #cccdcf;
            border-radius: 5px;
            padding:5px;
            color:#777;
            font-size: 15px;
        }
        input[type="file"]{
         
            height:39px;
            width:100%;
            background-color: #FBFBFB;
            border:1px solid #cccdcf;
            border-radius: 5px;
            padding:5px;
        }
        input[type="submit"]{
            margin-top: 10px;
            background-color: #00427bd3;
            color: white;
            width:100%;
            height:40px;
            border:1px solid white;
            padding:3px;
            border-radius: 5px;
            font-size: 18px;
        }
    </style>
    <script>
        function open() {
            const maxSize = 1*1024 * 1024;
            
            function readImage(input) {
                let size = 0;
                const imageContainer = document.getElementById("image-container");
                while(imageContainer.hasChildNodes()){
                    imageContainer.removeChild(imageContainer.firstChild);
                }
                if (input.files) {
                    const fileArr = Array.from(input.files);
                    fileArr.forEach((file, index) => {
                        size += file.size;
                        
                    });
                    if (size <= maxSize) {

                        fileArr.forEach((file, index) => {
                            const reader = new FileReader();
                            const img = document.createElement("img");
                           
                            
                            reader.onload = e => {
                                img.src = e.target.result;
                      
                                img.onload=function(){
                                    if(parseInt(img.naturalWidth)>970){
                                        img.width=img.naturalWidth*0.35;
                                        img.height=img.naturalHeight*0.35;
                                    }else{
                                        img.width=img.naturalWidth;
                                        img.height=img.naturalHeight;
                                    } 
                                    imageContainer.appendChild(img);
                                }
                            }
                            imageContainer.appendChild(img);
                            reader.readAsDataURL(file);
                        })
                    } else {
                        alert("파일 용량 제한");
                    }
                }
            }
            const inputImage = document.getElementById("input-image");
            inputImage.addEventListener("change", e => {
                readImage(e.target);
            })
            window.onpageshow=function(event){
                if(event.persisted || (window.performance && window.performance.navigation.type==2)){
                    let formreset=document.getElementById("formreset");
                    formreset.reset();
                }
            }
        }

        function cntChar(obj){
            const str=obj.value;
            const str_len=str.length;
            
            if(1000<str_len){
                alert("메시지는 최대 1000자를 초과할 수 없습니다.");
                str2=str.substr(0,1000);
                obj.value=str2;
                document.getElementById("textcount").innerText=str2.length;
            }else{
                document.getElementById("textcount").innerText=str_len;
            }
        }
        window.history.forward();
        function noback(){
            window.history.forward();   
        }
    </script>
</head>

<body onload="open();" onpageshow="if(event.persisted) noback();" onunload="">
    <div id="container">
        <header>
            <%- include("header.ejs") %>
        </header>

        <section>
            <div id="main-content">

                <div id="nav-content">
                    <div id="nav-content-title">
                        <p>견적문의</p>
                    </div>
                    <ul>
                        <li><a href="/estimate">견적문의</a></li>
                    </ul>
                </div>

                <div id="nav-content2">
                    <div id="nav-content2-title">
                        견적 작성<br>
                        <hr>
                    </div>
                    <div id="nav-content2-form">
                        <form id="formreset" action="/write_estimate" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
                            <input type="text" name="title" placeholder="제목" maxlength="40" required><br><br>
                            <input type="text" name="writer" placeholder="작성자" maxlength="10" required><br><br>
                            <input type="password" name="password" placeholder="비밀번호" maxlength="20" required><br><br>
                            <input type="radio" name="public" value="1" >공개
                            <input type="radio" name="public" value="0" checked>비공개<br><br>
                            <textarea name="content" onkeyup="cntChar(this)" placeholder="내용"></textarea><br>
                            <span id="textcount">0</span>&nbsp;/ 1000<br><br>
                            <span style="font-size:15px;">이미지 파일만 업로드 가능하며, 자세한 내용은 <strong>nts31@hanmail.com</strong> 메일 전송 부탁드립니다.</span><br>
                            <input type="file" multiple accept="image/*"name="img" value="이미지 선택" id="input-image"><br>
                            <span style="font-size:15px;">이미지 파일 여러개 업로드 시 <strong>ctrl</strong>키를 누르고 파일선택 부탁드립니다.</span><br>
                            <input type="submit" id="sendBtn" value="작성">
                        </form>
                        
                        <div id="image-container"></div>
                    </div>
                </div>

            </div>
        </section>

        <footer>
            <%- include("footer.ejs") %>
        </footer>
    </div>
</body>

</html>